# Created by .gitignore support plugin (hsz.mobi)
.env
.idea
.gradle
*.iml
*.tgz
*.zip
**/*.bak
*.log
*.txt
*.json

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Linux
~*
*~
.directory
.Trash-*
gradlew*
samples
test
log
logs
vols/*
vols-rw/*
build/container_build_framework*
**/CRF.properties
**/CBF.properties
scanned.paths
*.loaded
*.json
registryReport.groovy
registryReport.txt
build
